/* Visibility property */
.visible
{
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
/* Opacity */
.op_1 {
  opacity: 1;
}
.op_0 {
  opacity: 0;
}
.op_0.5 {
  opacity: 0.5;
}
/* Display */
.none {
  display: none;
  front-weight: bold;
}
.inline {
  display: inline;
  front-weight: bold;
}
.block {
  display: block;
  front-weight: bold;
}
